@media screen and (max-width: 768px) {
    #top-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 90px;
        left: 100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: #E1D4C9;
        transition: .6s all;
        z-index: 5;
    }

    #top-menu.topmenu-active {
        left: 0;
        width: 100%;
    }

    #top-menu>ul {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #top-menu.topmenu-active #menu-link {
        display: inherit;
        flex-basis: auto;
    }

    #top-menu.topmenu-active ul {
        padding: 0;
    }

    .burger-btn span {
        transition: .5s all;
    }

    .burger-active .burger-btn span:nth-child(1),
    .burger-active .burger-btn span:nth-child(2) {
        margin-bottom: -2px;
    }

    .burger-active span:nth-child(1) {
        transform: translateY(5px) rotate(-45deg);
        transition: .5s all;
        height: 2px
    }

    .burger-active span:nth-child(2) {
        transform: translateY(5px) rotate(45deg);
        transition: .5s all;
        height: 2px
    }
}