@media screen and (min-width: 380px) and (max-width: 760px) {
    h1.mobile {
        font-size: clamp(42px, 8vw, 72px);
    }

    h2.mobile {
        font-size: clamp(32px, 8vw, 60px);
    }
}

@media screen and (max-width: 800px) {
    #enjoy .promo-text {
        padding: 100px 60px 100px 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 769px) {
    #top-menu ul {
        margin-left: -1px;
    }
}

@media screen and (max-width: 720px) {
    #enjoy .promo-text {
        padding: 100px 40px 100px 40px;
    }
}

@media screen and (max-width: 650px) {
    #enjoy .promo-text {
        padding: 100px 30px 100px 30px;
    }

    h1.mobile {
        line-height: 115%;
    }
}

@media screen and (max-width: 570px) {
    #enjoy .promo-text {
        padding: 80px 25px 80px 25px;
    }

    .nav-prev,
    .nav-next {
        display: none;
    }
}

@media screen and (max-width: 490px) {
    #enjoy .promo-text {
        padding: 60px 16px 60px 16px;
    }
}

@media screen and (max-width: 379px) {
    h1.mobile {
        font-size: clamp(30px, 11vw, 42px);
    }

    h2.mobile {
        font-size: clamp(26px, 11vw, 32px);
    }
}


@media screen and (max-width: 800px) {

    #menu .menu-tabs li.coffe-tab {
        padding: 8px 16px 7px 7px;
    }

    #contacts>div:nth-child(1)>h2 {
        margin: 0 0 40px 0;
    }

    #enjoy h1 {
        margin: 0 0 42px 0;
    }

    .nav-prev {
        left: 0px;
    }

    .nav-next {
        right: 0px;
    }

    #mobile-app .promo-text {
        max-width: 100%;
    }

    #mobile-app .blocks {
        width: 100%;
    }

}

@media (hover: hover) {

    .refresh-icon:hover svg path {
        stroke: #E1D4C9;
        transition: background 0.5s ease-in-out, border 0.5s ease-in-out, color 0.5s ease-in-out;
    }

    .refresh-icon:hover {
        background-color: #665F55;
        transition: background 0.5s ease-in-out, border 0.5s ease-in-out, color 0.5s ease-in-out;
    }
}

@media (hover: none) {
    #enjoy .button-primary .coffe-icon {
        opacity: 1;
        right: 63px
    }

    #enjoy .button-primary .text-menu {
        position: relative;
        right: 14px;
    }

    .button-primary .text-menu {
        transition: none;
    }

    .button-primary:hover .text-menu {
        transform: none;
    }
}

@media screen and (max-width: 768px) {
    #about .gallery .image-box img {
        transform: scale(1.055);
    }

    .nav-next,
    .nav-prev {
        top: 55%;
    }

    .coffe-icon.dmenu {
        display: none;
    }

    .burger-link,
    .mlink {
        font-size: 32px;
        font-weight: 600;
        line-height: 125%;
    }

    #about .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 590px 590px;
        grid-column-gap: 0px;
        grid-row-gap: 40px;
        height: auto;
        position: relative;
    }

    #about .gallery .image-box.image1 {
        grid-column: 1;
        grid-row: 1/2;
    }

    #about .gallery .image-box.image2 {
        display: none;
    }

    #about .gallery .image-box.image3 {
        grid-column: 1;
        grid-row: 2/3;
    }

    #about .gallery .image-box.image4 {

        display: none;
    }


    #menu .menu-block .item.mobile-none {
        display: none;
    }


    #menu-link {
        display: none;
    }

    .menu-burger {
        transition: background 0.5s ease-in-out, border 0.5s ease-in-out;
    }

    .menu-burger span {
        display: block;
        height: 1.6px;
        border-radius: 10px;
        width: 100%;
        background-color: #403F3D;
        transition: .5s all;
    }

    .burger-btn>span:nth-child(1) {
        margin-bottom: 6px;
    }

    .menu-burger {
        display: flex;
        width: 44px;
        height: 44px;
        border: 1px solid #665F55;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        top: 2px;
    }

    .burger-btn {
        margin: auto;
        width: 18px;
        display: block;
        position: absolute;
        top: 39%;
        left: 29%;
    }

    header .inner {
        justify-content: space-between;
    }

}

@media screen and (min-width: 769px) {

    .refresh,
    #top-menu .mlink {
        display: none;
    }
}


@media screen and (max-width: 1300px) {

    .refresh-icon {
        width: 60px;
        height: 60px;
        display: block;
        margin: 20px auto 19px;
        border: 1px solid #665F55;
        border-radius: 50px;
        cursor: pointer;
    }

    .refresh-icon svg {
        margin: auto;
        display: block;
        position: relative;
        top: 17px;
    }

    .refresh {
        margin: 20px 0 19px;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (min-width: 769px) {

    .menu-hamburger {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    #mobile-app>div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #mobile-app .promo-text {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    #mobile-app>div:nth-child(2)>img:nth-child(1) {
        width: 85%;
    }

    #mobile-app>div:nth-child(1) {
        padding-top: 87px;
    }
}

@media screen and (max-width: 1200px) {
    #mobile-app .blocks {
        width: 100%;
    }

    #mobile-app>div:nth-child(2) {
        text-align: center;
    }

    #mobile-app>div:nth-child(1) {
        padding-top: 0;
        padding-bottom: 100px;
    }
}


@media screen and (min-width: 1100px) and (max-width: 1350px) {
    #contacts>div:nth-child(1) {
        width: 65%;
    }

    #contacts>div:nth-child(2) {
        width: 35%;
        padding: 31px 0 0 0px;
    }

    #contacts>div:nth-child(1)>h2 {
        max-width: 500px;
    }
}

@media screen and (max-width: 1100px) {
    #contacts .blocks {
        width: 100%;
    }

    #contacts>div:nth-child(2) {
        padding: 102px 0 0 0px;
    }

    #contacts>div:nth-child(1)>h2 {
        max-width: 500px;
    }

    #contacts {
        padding: 100px 60px 86px;
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {

    #top-menu>ul>li>a,
    #menu-link .cup-text {
        font-size: 15px;
    }

    #top-menu ul>li {
        margin: 0 10px 0 0;
        padding: 10px;
    }
}

@media screen and (max-width: 530px) {
    .body-wrapper {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 40px;
    }

    #mobile-app button {
        margin-right: 8px;
        margin-bottom: 20px;
    }

    #enjoy p {
        margin: 0 0 38px 0;
    }

    #mobile-app>div:nth-child(1) {
        padding-top: 0;
        padding-bottom: 20px;
    }

    #contacts {
        padding: 61px 30px 46px;
    }

    #contacts .blocks {
        padding-right: 0;
    }

    #contacts>div:nth-child(2) {
        padding: 41px 0 0 0px;
    }

    #about .gallery .image-box img {
        transform: scale(1.23);
    }

    #menu .menu-tabs {
        padding: 0;
    }

    #menu .menu-tabs li {
        margin: 0 8px 0 0;
    }

    #menu>div>ul>li.tab.dessert-tab.btn {
        margin: 0;
    }

    #menu .menu-block {
        margin: 0 -1px;
    }

    #menu .menu-block .item .img-caption {
        padding: 20px 20px 20px 18px;
    }

    #menu .menu-block .item .product-thumb .name h3,
    #menu .menu-block .item .product-thumb .description {
        margin-bottom: 11px;
    }

    #menu .menu-block .item .product-thumb .price {
        top: 2px;
        position: relative;
    }

    #menu .menu-block .item .image img {
        transform: scale(1.09);
    }

    #menu h2 {
        margin: 4px auto 38px;
    }
}

@media screen and (max-width: 380px) {
    #contacts {
        padding: 61px 16px 46px;
    }
}

@media screen and (max-width: 378px) {
    #menu .menu-tabs li {
        margin: 0 5px 0 0;
    }

    #menu .menu-tabs {
        padding: 0;
        margin: 0 -10px 20px;
    }
}

@media screen and (max-width: 350px) {
    #menu .menu-tabs li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1439px) {
    .products {
        display: flex;
        justify-content: center;
    }

    .menu-block {
        max-width: 1050px;
    }
}

@media screen and (max-width: 1089px) {
    .menu-block {
        max-width: 700px;
    }
}

@media screen and (max-width: 767px) {
    .menu-block {
        max-width: 350px;
    }
}