@media (hover: hover) and (pointer: fine) {}

@media screen and (max-width: 800px) {
    #enjoy {
        padding: 100px 98px 100px 60px;
    }

    #about .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 40px;

        position: relative;
    }

    #about .gallery .image-box.image1 {
        grid-column: 2;
        grid-row: 1/3;
    }

    #about .gallery .image-box.image2 {
        grid-column: 1;
        grid-row: 1;
    }

    #about .gallery .image-box.image3 {
        grid-column: 2;
        grid-row: 3/5;
    }

    #about .gallery .image-box.image4 {
        grid-column: 1;
        grid-row: 1;
    }

    #mobile-app .blocks {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    #mobile-app>div:nth-child(2)>img:nth-child(1) {
        width: 85%;
    }

    #mobile-app>div:nth-child(1) {
        padding-top: 87px;
    }
}

@media screen and (max-width: 1199px) {
    #mobile-app .blocks {
        width: 100%;
    }

    #mobile-app>div:nth-child(2) {
        text-align: left;
    }

    #mobile-app>div:nth-child(1) {
        padding-top: 0;
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1350px) {
    #contacts>div:nth-child(1) {
        width: 65%;
    }

    #contacts>div:nth-child(2) {
        width: 35%;
        padding: 31px 0 0 0px;
    }

    #contacts>div:nth-child(1)>h2 {
        max-width: 500px;
    }
}

@media screen and (max-width: 1100px) {
    #contacts .blocks {
        width: 100%;
    }

    #contacts>div:nth-child(2) {
        padding: 100px 0 0 0px;
    }

    #contacts>div:nth-child(1)>h2 {
        max-width: 500px;
    }

    #contacts {
        padding: 100px 60px 100px;
    }
}

@media screen and (max-width: 900px) {

    #top-menu>ul>li>a,
    #menu-link .cup-text {
        font-size: 15px;
    }

    #top-menu ul>li {
        margin: 0 10px 0 0;
    }

    #top-menu>ul {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {

    #top-menu,
    #menu-link {
        display: none;
    }

    .menu-hamburger {
        display: block;
    }

    .menu-hamburger span {
        display: block;
        height: 1.6px;
        border-radius: 10px;
        width: 100%;
        background-color: #403F3D;
        transition: .5s all;
    }

    .hamburger-btn>span:nth-child(1) {
        margin-bottom: 8px;
    }

    .menu-hamburger {
        display: flex;
        width: 44px;
        height: 44px;
        border: 1px solid #403F3D;
        border-radius: 50px;
        cursor: pointer;
    }

    .hamburger-btn {
        margin: auto;
        width: 16px;
        display: block;
    }

    header .inner {
        justify-content: space-between;
    }
}

@media screen and (min-width: 769px) {
    .menu-hamburger {
        display: none;
    }
}